body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    font-family: Arial;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 4px solid #fff;
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white { background: #eee; }
.black { background: #444; }

.piece {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.red { background: red; }
.blue { background: royalblue; }

.king {
    box-shadow: 0 0 0 5px gold inset;
}

.highlight {
    background: yellow !important;
}